HELP.md
target/
.mvn/wrapper/maven-wrapper.jar

### Spring
Application/target/
Application/.mvn/
Application/mvnw
Application/mvnw.cmd
Application/*.jar
Application/*.war
Application/runLiquiBase.bat


### Ext-js Frontend
**/node_modules/
ext-js-frontend/modern-app/build/
ext-js-frontend/modern-app/generatedFiles/
ext-js-frontend/modern-app/sencha-error-*.log
ext-js-frontend/modern-app/.npm/

.idea/
**/.idea/
*.iws
*.iml
*.ipr
out/

**/.webpack/
**/.cache/
**/npm-debug.log*

.DS_Store
Thumbs.db

# Ignore mock example files
DocumentDBmig/changelog/*.properties
DocumentDBmig/changelog/changelog-YYYY-MM-DD-HH-MM-SS-xml-name
DocumentDBmig/changelog/changelog-YYYY-MM-DD-HH-MM-SS-xml-name.xml
DocumentDBmig/changelog/liquibase.properties

DocumentDBmig/db/*.properties
DocumentDBmig/db/*.cfg

DocumentDBmig/lib/*.jar
DocumentDBmig/.idea/**

